<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commander</title>
</head>
<body>
    <form method="POST" action="/commander">
        <div class="form-group">
          <label for="nom">Nom complet</label>
          <input type="text" class="form-control" id="nom" name="nom" required>
        </div>
        <div class="form-group">
            <label for="mail">Email</label>
            <input type="email" class="form-control" id="mail" name="mail" required>
          </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" name="adresse" required>
        </div>
        <div class="form-group">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville" name="ville" required>
        </div>
        <div class="form-group">
          <label for="code_postal">Code postal</label>
          <input type="text" class="form-control" id="code_postal" name="code_postal" required>
        </div>
        <button type="submit" class="btn btn-primary">Passer la commande</button>
      </form>
</body>
</html>