<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de commande</title>
</head>
<body>
    <h1>Confirmer la commande :</h1>

    <p>Vous souhaitez confirmer la commande suivante :</p>
    commande=commande, produits=produits, total=total
    <p>Numéro de commande : {{commande.id}}, Produits : {{produits}}, Prix total : {{total}} </p>
    <form action="" method="post">
        <button type="submit">Valider la commande</button>
    </form>
</body>
</html>