<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body id="body">
    <header class="header">
        <h1 class="title title--order">Commande n°{{commande.id}}</h1>
    </header>
    <main class="order__resume">
        <p>Email : {{commande.email}}</p>
        <div class="info__livraison">
            <p>Information de livraison : </p>
            <p class="info__livraison--item">{{commande.information_livraison.address}},</p>
            <p class="info__livraison--item">{{commande.information_livraison.city}}, {{commande.information_livraison.province}} {{commande.information_livraison.postal_code}},</p>
            <p class="info__livraison--item">{{commande.information_livraison.country}}</p>
        </div>
        

        {% if commande.payer %}
        <p>La commande a été réglé.</p>
        {% else %}
        <p> La commande n'a pas encore été réglé.</p>
        {% endif %}
        <p>Prix_livraison : {{commande.prix_livraison}} $</p>
        <p>Prix_total : {{commande.prix_total}} $</p>
        <table class="order__list" id="orderList">
            <tr class="order__cat">
                <th>
                    <p>Identifiant produit</p>
                </th>
                <th>
                    <p>Quantité</p>
                </th>
            </tr>

            {% for item in commande.produits %}
            <tr class="order__item">
                <td>
                    <p>{{item.id}}</p>
                </td>
                <td>
                    <p>{{item.quantite}}</p>
                </td>
            </tr>
            {% endfor %}

        </table>
    </main> 
</body>
</html>